.additional-data{
  font-size: 0;
  line-height: 0;
  width: 100%;
  }

.article-source{
  font-size:1.1875rem;
  line-height: 1.47;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  }

.article-social{
  font-size:1rem;
  line-height: 1.47;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  }
  .article-social a{
    margin-right: 1rem;
    color: #000;
    }
  .article-social a:before{
    margin-right: .5rem;
    }


.article-content header{
  font-size: 0;
  }
  .article-content header h1{
    margin-bottom: .25em;
    }
  .article-content header p:last-child:after{
    display: none;
    }
  .article-content header p:after{
    content:"•";
    display: inline;
    margin: 0 .5rem;
    }
  .article-content header p{
    font-size: 0.75rem;
    display: inline;
    font-style: italic;
    margin: 0;
    white-space: nowrap;
    }


.article-content .note{
  background-color: #f8f8f8;
  padding: 1.47em 0;
  margin:1.47em 0;
  box-shadow: -1.47em 0 0 0 #f8f8f8, 1.47em 0 0 0 #f8f8f8;
  }
  .article-content .note p:first-child{
    margin-top:0;
    }
  .article-content .note p:last-child{
    margin-bottom:0;
    }


.article-content table{
  text-align: left;
  font-size: 1rem;
  padding:0 .5rem 1rem 0;
  margin: 1rem 0 2rem;
  }
  .article-content  tbody tr:hover th,
  .article-content  tbody tr:hover td{
    background-color: #fafafa;
    box-shadow:-.5rem 0 0 0 #fafafa;
    }
  .article-content  th{
    font-weight: bold;
    }
  .article-content  th,
  .article-content  td{
    padding:.5rem .5rem .5rem 0;
    }


.article-content  figure.video{
  margin:1.47em 0;
  padding: 1.47em;
  background-color: #000;
  text-align: center;
  font-size: .85rem;
  }
  .article-content  figure.video figcaption{
    display: block;
    color: #FFF;
    font-style: italic;
    margin: 0;
    padding: 1.47em 0 0;
    text-align: left;
    background: none;
    }
    .article-content  figure.video figcaption p{
      font-size: .85rem;
      font-style: italic;
      line-height: 1.47;
      margin: 1.47em 0 0;
      padding: 0;
      }

.article-content  figure{
  margin:1.47em 0;
  }
  .article-content  figure img{
    display: block;
    }
  .article-content  figure figcaption{
    background: #F8F8F8;
    display: inline-block;

    font-size: 1rem;
    font-style: italic;
    line-height: 1.47;

    margin: 0;
    padding: 1.47em;
    }

.article-content  .reference{
  vertical-align:super;
  font-size: smaller;
  padding: 1em;
  margin: -1em;
  position: relative;
  z-index: 1;
  }

.article-content  .footnote{
  position: relative;
  margin: 1.47em 0;
  font-style: italic;
  font-size: 1rem;
  }
  .article-content  .footnote p{
    font-size: 1rem;
    }
  .article-content  .footnote code{
    padding: 0;
    margin: 0;
    display: inline;
    background: none;
    }
  .article-content  .footnote strong,
  .article-content  .footnote b{
    font-style: italic;
    font-weight: normal;
    }
  .article-content  .footnote .back{
    vertical-align:super;
    display: inline-block;
    margin-right: -.5rem;
    font-size: 1rem;
    }

/**
 * Tags component
 */

.article-tags,
.article-tags h3{
  color: #000;
  font-size: 1rem;
  font-style: italic;
  line-height: 1.7;
}

.article-tags a{
  color: #0ba5b7;
  white-space: nowrap;
}

.article-tags h3{
  display: inline;
  font-weight: normal;
}

/**
 * User component
 */
.article-users{
  padding: 12px 1.47rem;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px dotted #ddd;
  border-left: 0;
  border-right: 0;
}

.article-users::after,
.article-users section::after{
  content:"";
  display:block;
  height:0;
  overflow:hidden;
  clear:both;
}

.article-users hr{
  width: 100%;
  height: 0;
}

.article-users section{
  width: 50%;
  float: left;
  padding-left: 92px;
  box-sizing: border-box;
  padding-right: 24px;
  height: 80px;
}

.article-users section > a{
  display: block;
  width: 80px;
  height: 80px;
  float: left;
  margin-left: -92px;
}

.article-users .details{
  margin-top: -0.3em;
  font-size: 0.7rem;
  font-style: italic;
  line-height: 2;
}

.article-users .details dl{
  white-space: nowrap;
}

.article-users .details dl > *{
  display: inline-block;
}

/**
 * Comments component
 */


.article-comments{
  margin-bottom: 32px;
  margin-bottom: 2rem;
  }
.article-comments:after,
.article-comments .comment:after{
  content:"";
  display:block;
  height:0;
  overflow:hidden;
  clear:both;
  }
  /**
   * add-coment-form
   */
  .article-comments form.submit:after{
    opacity: .8;
    z-index: 999;
    -webkit-transition: opacity .2s ease;
       -moz-transition: opacity .2s ease;
        -ms-transition: opacity .2s ease;
         -o-transition: opacity .2s ease;
            transition: opacity .2s ease;
    }
    /*
    не понял, что делает это правило и пока его закомментировал
  .article-comments form:after{
    content:".";
    font-size: 0;
    line-height: 0;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: -16px;
    background: #fff;
    opacity: 0;
    z-index: -1;
    }
    */
  .article-comments form{
    clear: both;
    position: relative;
    height:156px;
    margin: 32px 0 0;
    margin: 2rem 0 0;
    }
    .article-comments form .author{
      margin: 0 0 16px;
      margin: 0 0 1rem;
      display: inline-block;
      }
    .article-comments form button{
      cursor: pointer;
      color: #FFF;
      position: absolute;
      bottom: 0;
      right: 0;
      width:104px;
      text-align: center;
      height: 128px;
      line-height: 5;
      background: #0ba5b7;
      border-style: none;
      font-family: inherit;
      margin: 0;
      }
      .article-comments form button:after{
        content: ".";
        display: block;
        height: 0;
        width: 0;
        overflow: hidden;
        position: absolute;
        top:100%;
        left:16px;
        border-style: solid solid none none;
        border-width: 16px 16px 0 0;
        border-color: #0ba5b7 transparent transparent;
        }
    .article-comments form .preview,
    .article-comments form textarea{
      display: block;
      margin:0;
      border:1px solid #ddd;
      position: absolute;
      height: 110px;
      padding: 8px;
      bottom: 0;
      left:100px;
      right:124px;
      resize: none;
      font-family: inherit;
      margin-left: -8px;
      margin-right: -8px;
      }
      .article-comments form textarea:focus{
        /*border: 1px solid #0ba5b7;*/
        outline: none;
        }
      .article-comments form .preview {
        background: #fff;
        border-color: #fff;
        bottom: 132px;
        right: 0;
        opacity: 0.9;
        height: auto; 
        }
  /**
   * /add-coment-form
   */
  .article-comments h3{
    margin-bottom: 0;
    display: inline-block;
    margin: 2rem 0 1rem;
    }
    .article-comments h3 b{
      white-space: nowrap;
      color: #aaa;
      font-size: 11px;
      font-weight: normal;
      }
  .article-comments .comment{ 
    margin: 36px 0 0;
    margin: 2.25rem 0 0;
    }
  .article-comments .comment p:first-child{
    margin: 0;
    }
  .article-comments img.avatar{
    float: left;
    width: 80px;
    height: 80px;
    margin: 0 12px 0 0;
    }
  .article-comments .comment .user{
    float: left;
    }
  .article-comments .comment .author{
    text-decoration: none;
    display: inline-block;
    margin: 0 16px 3px 0;
    margin: 0 1rem .2rem 0;
    }
  .article-comments .comment+.no-auth{
    margin-top: 24px;
    margin-top: 1.5rem;
    }
  .article-comments .comment .author,
  .article-comments .comment .logout,
  .article-comments .comment time{  
    font-size: 1rem;
    line-height: 1.47;
    }
  .article-comments .comment time{
    font-size: .8rem;
    float: right;
    }
  .article-comments .comment .wrapper{
    position: relative;
    overflow: hidden;
    }
    .article-comments .comment .wrapper p{
      clear: both;
      }
  .article-comments .logout:hover,
  .article-comments .login:hover{
    color: #0ba5b7;
    }
  .article-comments .logout{
    text-decoration: none;
    color: #000;
    display: inline-block;
    margin: 0 0 0 26px;
    margin: 0 0 0 1rem;
    }
  .article-comments .login{
    color: #000;
    display: inline-block;
    }
  .article-comments .no-auth{
    color: #000;
    display: block;
    }
    .article-comments .no-auth a{
      color: #0ba5b7;
      }
  .article-comments .logout:after,
  .article-comments .login:after{
    content:"\f09b";
    font-family: "FontAwesome";
    margin: 0 0 0 8px;
    margin: 0 0 0 .5rem;
    color:#000;
    }
  .article-comments .more{
    text-align: center;
    }
  .article-comments .more a{
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dotted;
    font-size: 1.1875rem;
    line-height: 1.47;
    }
  .related-articles{
    margin-top: 10px;
    margin-bottom: 10px;
    }
  .related-articles h3{}
  .related-articles h4{
    font-weight: normal;
    margin: 0;
    padding: .25em 0;
    }
  .related-articles h4 a{
    color: #0ba5b7;
    text-decoration: underline;
    }
  .related-articles h4 a:hover{
    text-decoration: none;
    }